*

# repository
!README.md
!.gitignore
!.gitmodules

# personal
!.gitconfig
!.condarc

# configurations
!.bashrc
!.config/
!.config/Thunar 
!.config/Thunar/**
!.config/btop 
!.config/btop/**
!.config/dunst
!.config/dunst/**
!.config/fish 
!.config/fish/**
!.config/htop 
!.config/htop/**
!.config/hypr 
!.config/hypr/**
!.config/kitty 
!.config/kitty/**
!.config/neofetch 
!.config/neofetch/**
!.config/nvim 
!.config/nvim/**
!.config/nvtop 
!.config/nvtop/**
!.config/swaylock 
!.config/swaylock/**
!.config/waybar 
!.config/waybar/**
!.config/starship
!.config/starship/**
