* {
    font-family: JetBrainsMono NFM Extra Bold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    /* Black background */
    /* White text */
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-right {
    background-color: #111115;
    /* Black background */
    color: #fce9d3;
    /* White text */
    border: 2px solid #fce9d3;
    /* Orange border */
    border-radius: 8px;
    /* Rounded borders */
}

.modules-right * {
    padding: 4px 0px;
}

#workspaces button {
    padding: 0 6px;
    background-color: #111115;
    /* Black background */
    color: #fce9d3;
    border-radius: 0;
    /* White text */
}

#workspaces button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#workspaces button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#workspaces button.active {
    background: #fce9d3;
    /* Black with slight transparency */
    color: #111115;
    border: none;
    /* White text */
}

#workspaces button:hover {
    background: #fce9d3;
    /* Black with slight transparency */
    color: #111115;
    border: none;
    /* White text */
}

#clock {
    padding: 1 10px;
    background-color: #111115;
    /* Black background */
    color: #fce9d3;
    /* White text */
    border: 2px solid #fce9d3;
    /* Orange border */
    border-radius: 8px;
    /* Rounded borders */
}

#battery {
    color: #fce9d3;
    /* White text */
}

#battery.charging {
    color: #fce9d3;
    /* White text */
}

#battery.discharging {
    color: #ffbf48;
    /* Yellow color for discharging */
}

@keyframes blink {
    to {
        /* Orange background */
        color: #111115;
        /* Black text */
    }
}

#battery.warning:not(.charging) {
    /* Orange background */
    color: #f53c3c;
    /* Red color for warning */
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    border: 2px solid #fce9d3;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #fce9d3;
}
