* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono NFM Extra Bold, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

.modules-left, .modules-right {
    background-color: rgba(256, 256, 256, 0.85);
    color: black;
    border-radius: 4px;
}

.modules-right {
    padding-left:5px;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#workspaces button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.85);
    color: white;
}


#workspaces button:hover {
    background: rgba(20, 20, 20, 0.85);
    color: white;    
}


#clock {
    padding: 0 10px;
}

#clock {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 4px;
}

#battery {
    color: rgba(0, 0, 0, 0.85);
}

#battery.charging {
    color: rgba(0, 0, 0, 0.85);
}

#battery.discharging {
    color: #ffbf48;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #ffffff;
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
