* {
    font-family: JetBrainsMono NFM, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /*min-height: 0;*/
    /* Black background */
    /* White text */
}

window#waybar {
    background-color: transparent;
}


.modules-left,
.modules-right {
    min-height: 29px;
    /* Black background */
    color: #c8c093;
    /* White text */
}


.modules-right {
    background-color: transparent;
}

.modules-left,
.modules-right>*>* {
    background-color: #1f1f28;
    border: 2px solid #c8c093;
    /* Orange border */
    border-radius: 8px;
    /* Rounded borders */
}

.modules-right>*>* {
    background-color: #1f1f28;
    padding: 0px 10px;
}

#workspaces button {
    padding: 0 6px;
    background-color: #1f1f28;
    /* Black background */
    color: #c8c093;
    border-radius: 0;
    /* White text */
}

#workspaces button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#workspaces button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#workspaces button.active {
    background: #c8c093;
    /* Black with slight transparency */
    color: #1f1f28;
    border: none;
    /* White text */
}

#workspaces button:hover {
    background: #c8c093;
    /* Black with slight transparency */
    color: #1f1f28;
    border: none;
    /* White text */
}

#clock {
    padding: 0 10px;
    background-color: #1f1f28;
    /* Black background */
    color: #c8c093;
    /* White text */
    border: 2px solid #c8c093;
    /* Orange border */
    border-radius: 8px;
    /* Rounded borders */
}

#battery {
    color: #c8c093;
    /* White text */
}

#battery.charging {
    color: #c8c093;
    /* White text */
}

#battery.discharging {
    color: #e6c384;
    /* Yellow color for discharging */
}

@keyframes blink {
    to {
        /* Orange background */
        color: #1f1f28;
        /* Black text */
    }
}

#battery.warning:not(.charging) {
    /* Orange background */
    color: #e82424;
    /* Red color for warning */
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*#tray {*/
/*    padding-right: 6px;*/
/*    padding-left: 6px;*/
/*    border-left: solid 2px;*/
/*    border-top-right-radius: 0px;*/
/*    border-bottom-right-radius: 0px;*/
/*}*/
