*

!.gitignore

# configurations
!btop 
!btop/**
!dunst
!dunst/**
!fastfetch
!fastfetch/**
!fish 
!fish/**
!htop 
!htop/**
!hypr 
!hypr/**
!kitty 
!kitty/**
!neofetch 
!neofetch/**
!nvim 
!nvim/**
!nvtop 
!nvtop/**
!swaylock 
!swaylock/**
!starship
!starship/**
!scripts
!scripts/**
!Thunar 
!Thunar/**
!waybar 
!waybar/**
!ghostty 
!ghostty/**
!tmux
!tmux/**
!river
!river/**
!satty
!satty/**
