@define-color black #1f1f28;
@define-color orange #f8b478;
@define-color accent #c8c093;
@define-color base black;
@define-color text @accent;

* {
  font-family: JetBrainsMono NFM, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @accent;
  border-radius: 10px;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
  opacity: 0.85;
}

/* Slide In */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  border: none;

  100% {
    opacity: 0.85;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
  display: none;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input:focus {
  box-shadow: 0 0 0 1px @accent;
}

#input image {
  border: none;
  color: @accent;
}

#input * {
  outline: 4px solid @accent !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @accent;
}

/* Selected Entry */
#entry:selected {
  border: solid 1px @accent;
}

#entry:selected #text {
  font-weight: bold;
}

#entry:drop(active) {
  background-color: @accent !important;
}
