@define-color black #020202;
@define-color gold #daa520;
@define-color grey #4d4e48;
@define-color base white;
@define-color text @black;

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
  opacity: 0.85;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0
  ;
  }

  border: none;
  100% {
     opacity: 0.85;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
  display: none;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input:focus {
  box-shadow : 0 0 0 1px @black;
}

#input image {
    border: none;
    color: @black;
}

#input * {
  outline: 4px solid @black!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @black;
}

/* Selected Entry */
#entry:selected {
  border: none;
}

#entry:selected #text {
  font-weight: bold;
  color: @gold;
}

#entry:drop(active) {
  background-color: @grey!important;
}
